<div class="row">
  <div class="large-12 columns">
    <section class="contact-page-banner">
      <h2>Contact Us</h2>
      <p>
        As a company we are always available to discuss a project or answer any questions that you might have. Whether you want a quote on a job, have questions on a project, or just want more info about our team, fill out the form below and we will have a response for you at our earliest convenience, usually within a day. You can also email David, the lead developer, directly at davidjohnwoolf@gmail.com or give us a call anytime at (801) 633-9105.
      </p>
      <div>
        <%= form_tag('/contact') do %>
          <div><%= label_tag :name %></div>
          <div><%= text_field_tag :name %></div>

          <div><%= label_tag :email %></div>
          <div><%= email_field_tag :email %></div>

          <div><%= label_tag :comments %></div>
          <div><%= text_area_tag :comments %></div>

          <div><%= submit_tag 'Send', class: 'button' %></div>
        <% end %>
      </div>
    </section>
  </div>
</div>
