<section class="welcome-banner">
  <div class="row">
    <div class="small-12 medium-12 large-4 columns">
      <h2>Welcome Visitor</h2>
      <p>
        We provide web design and development for small businesses and individuals in and around Salt Lake City, UT. Feel free to explore our site or get a quick quote below.
      </p>
      <a href="#" class="button">View Portfolio</a>
    </div>
    <div class="large-8 columns">
      <%= image_tag('responsive-web-design.jpg', alt: 'Responsive Web Design') %>
    </div>
  </div>
</section>

<section class="quote-banner">
  <div class="row">
    <div class="large-5 columns">
      <h2>Quick Quote</h2>
      <p>
        Send us a message or give us a call anytime, we would love to discuss your project with you!
      </p>
      <span>
        (801) 633-9105
      </span>
    </div>
    <%= form_tag('/contact') do %>
      <div class="medium-6 large-3 columns">
        <%= text_field_tag :name %>
        <%= text_field_tag :email %>
      </div>
      <div class="medium-6 large-4 columns">
        <%= text_area_tag :comments %>
        <%= submit_tag 'Get a Quote', class: 'button' %>
      </div>
    <% end %>
  </div>
</section>

<section class="info-banner">
  <div class="row">
    <div class="large-4 columns">
      <%= image_tag('monitor.png', alt: 'Monitor Icon') %>
      <h2>What We Do</h2>
      <p>
        We provide web design and development services for small businesses in Salt Lake City. We focus on responsive designs to make sure that your website works great on any device. This is important, as over half of the web surfers are using mobile devices.
      </p>
      <a href="#" class="button">Services</a>
    </div>
    <div class="large-4 columns">
      <%= image_tag('team.png', alt: 'Team Icon') %>
      <h2>How We Work</h2>
      <p>
        Working with us is different from other Salt Lake City web design companies. We work with you, not for you. This means that we keep you involved throughout the process, and being based in Salt Lake, we are always available to meet up and discuss an idea.
      </p>
      <a href="#" class="button">Portfolio</a>
    </div>
    <div class="large-4 columns">
      <%= image_tag('microphone.png', alt: 'Microphone Icon') %>
      <h2>The Benefits</h2>
      <p>
        Being a leading Salt Lake City web design company, we guarantee satisfaction. We make sure the project is up to your standards every step of the way. Furthermore, you get as many revisions as you like, no additional fees. We exceed expectations.
      </p>
      <a href="#" class="button">Company</a>
    </div>
  </div>
</section>

<section class="owner-banner">
  <div class="row">
    <div class="small-12 columns">
      <%= image_tag('portrait.png', alt: 'David Woolf') %>
      <p>
        As a web development company we pride ourselves on the quality of our work. We will work tirelessly to exceed your expectations and provide you with a website to be proud of. We provide anything from updating your current site to a brand new project. We will work to design and develop your website until you are satisfied, no exceptions.  We garantee you will love the outcome, or your money back!
      </p>
      <span>
        David Woolf, Owner and Developer
      </span>
    </div>
  </div>
</section>

<section class="contact-banner">
  <div class="row">
    <div class="small-12 columns">
      <h2><a href="#">Contact us</a> now to get started</h2>
    </div>
  </div>
</section>
